.application {
  padding-top: 30px;
  max-width: 600px;
}

.ui.container.application {
  max-width: 600px !important;
}

.pagination-wrapper {
  margin: 20px auto; 
  text-align: center;
}

.ui.list>.item>i.icon.like-icon, .like-icon {
  float: right;
  cursor: pointer;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.login-btn {
  cursor: pointer;
}

.app-header {
  background-color: black;
  padding: 20px;
}

.user-label.ui.image {
  position: absolute;
  right: 20px;
  top: 20px;
}